<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ subject }}</title>
    <style>
        body {
            color: black;
        }
        a {
            text-decoration: underline;
        }
    </style>
    {% block head %}
    <link rel="stylesheet" href="base.css">
    {% endblock %}
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
        <table id="tblBackground" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top">
                    <table id="tmplateContainer" border="0" cellpadding="0" cellspacing="0" width="600" >
                        <tr>
                            <td align="center" valign="top">
                                <table id="templateHeader" border="0" cellpadding="0" width="600">
                                    <tr>
                                        <td>
                                            <a href="http://www.tyler.kulfi.io">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="headerContent">
                                            <img src="" alt="">
                                        </td>
                                    </tr>                            

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                {% block content %}
                                {% endblock %}
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>
</html> 